aside {
  @include border-gradient((0 $aside-border-width 0 0), to bottom, $asbordcol1, $asbordcol2, 1);
  @include gradient-orient (vertical, $red1, $red2);
  @include box-shadow;
  height: 85%;
  width: $aside-width;
  float: left;
  padding: $padding;
  margin-top: 5%;
  position: relative;
  box-sizing: border-box;
  z-index: 1;

  &:after {
    width: $aside-width;
    bottom: 10%;
  }

  ul {
    font-family: $font2, Verdana;
    font-size: 1.8em;
    margin-top: 30%;
  }
}



