aside {
  @include border-gradient((0 $aside-border-width 0 0), to bottom, $aside-border-color1, $aside-border-color2, 1);
  @include gradient-orient (vertical, $red1, $red2);
  position: relative;
  height: 80%;
  width: $aside-width;
  float: left;
  padding: $padding;
  margin-top: 4%;
  z-index: 1;

  h1, ul {
    color: $font-color;
  }

  ul {
    font-family: $font-light;
    font-size: 1.8em;
    margin-top: 35%;

    > li {
      > a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $hrcolor1;
        }
      }
    }
  }

  &:after {
    width: $aside-width;
    bottom: 10%;
  }
}
