@font-face {
  font-family: 'BauhausLightCTTRegular';
  src: url(../fonts/BauhausLightCTT_Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'BAUHS93';
  src: url(../fonts/BAUHS93.ttf) format("truetype");
}

