@font-face {
  font-family: 'bauhauslightctt';
  src: url(../fonts/bauhauslightctt.ttf) format("truetype");
}

@font-face {
  font-family: 'BAUHS93';
  src: url(../fonts/BAUHS93.ttf) format("truetype");
}

