@font-face {
  font-family: $font-light;
  src: url(../fonts/Bauhaus-Std-Light.ttf) format("truetype");
}

@font-face {
  font-family: $font-bold;
  src: url(../fonts/BAUHS93.ttf) format("truetype");
}

