main {
  @include gradient-orient (vertical, $orange1, $orange2);
  transition: all .4s ease;
  border-color: $main-border-color;
  border-style: solid;
  border-width: 17px 17px 0 0;
  color: $main-color;
  float: left;
  height: 73%;
  left: (-$main-width);
  margin-top: 5.7%;
  opacity: 0;
  padding: $padding;
  position: relative;
  width: $main-width;

  &.open {
    opacity: 1;
    left: 0;
  }

  p > .first-word {
    font-size: 1.5em;
  }

  &:after {
    width: $main-width;
    bottom: 4.6%;
  }

  > div {
    display: none;

    &.showed {
      display: block;
    }

    ul {
      margin-top: 20px;
      padding-left: 20px;
      list-style: circle;

      > li {
        margin-bottom: 10px;
      }
    }
  }
}
