// fonts
$font1: 'BAUHS93';
$font2: 'bauhauslightctt';

//bg grey gradient
$grey1: #828282;
$grey2: #444;

//aside red gradient
$red1: #c40808;
$red2: #ff2400;

//main orng gradient
$orange1: #ff5400;
$orange2: #ff9600;

//aside text color
$font-color: #fff000;

//lines gradient
$hrcolor1: #f89801;
$hrcolor2: #fff000;

//aside right border gradient
$asbordcol1: #9a0000;
$asbordcol2: #c90100;

//main border
$mainbordercolor: #ed6b02;

//main font color
$mainfontcol: #202020;

$aside-width: 290px;
$aside-border-width: 12px;
$main-width: 720px;
$padding: 30px;
