//bg grey gradient
$grey1: #828282;
$grey2: #444;

//aside red gradient
$red1: #ff2400;
$red2: #c40808;

//main orng gradient
$orng1: #ff5400;
$orng2: #ff9600;

//aside text color
$font-color: #fff000;

//lines gradient
$hrcolor1: #f89801;
$hrcolor2: #fff000;

//aside right border gradient
$asbordcol1: #9a0000;
$asbordcol2: #c90100;

//main border
$mainbrdrcol: #ed6b02;

//main font color
$mainfontcol: #202020;
